@font-face {
  font-family: 'Thirsty Script';
  src: url("fonts/ThirstyScriptRegular-webfont.eot");
  src: url("fonts/ThirstyScriptRegular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ThirstyScriptRegular-webfont.woff") format("woff"), url("fonts/ThirstyScriptRegular-webfont.ttf") format("truetype"), url("fonts/ThirstyScriptRegular-webfont.svg#thirsty_script_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-safari, .icon-opera, .icon-IE, .icon-firefox, .icon-chrome, .icon-css3, .icon-html5, .icon-file-css, .icon-file-xml, .icon-pinterest, .icon-github, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-tablet, .icon-mobile, .icon-mobile-2, .icon-laptop, .icon-screen, .icon-clock, .icon-book, .icon-coin, .icon-books, .icon-file, .icon-bubble, .icon-brightness-medium, .icon-play, .icon-phone, .icon-copy, .icon-menu, .icon-question {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-safari:before {
  content: "\e000"; }

.icon-opera:before {
  content: "\e001"; }

.icon-IE:before {
  content: "\e002"; }

.icon-firefox:before {
  content: "\e003"; }

.icon-chrome:before {
  content: "\e004"; }

.icon-css3:before {
  content: "\e005"; }

.icon-html5:before {
  content: "\e006"; }

.icon-file-css:before {
  content: "\e007"; }

.icon-file-xml:before {
  content: "\e008"; }

.icon-pinterest:before {
  content: "\e009"; }

.icon-github:before {
  content: "\e00a"; }

.icon-google-plus:before {
  content: "\e00b"; }

.icon-facebook:before {
  content: "\e00c"; }

.icon-twitter:before {
  content: "\e00d"; }

.icon-tablet:before {
  content: "\e00e"; }

.icon-mobile:before {
  content: "\e00f"; }

.icon-mobile-2:before {
  content: "\e010"; }

.icon-laptop:before {
  content: "\e011"; }

.icon-screen:before {
  content: "\e012"; }

.icon-clock:before {
  content: "\e013"; }

.icon-book:before {
  content: "\e014"; }

.icon-coin:before {
  content: "\e015"; }

.icon-books:before {
  content: "\e016"; }

.icon-file:before {
  content: "\e017"; }

.icon-bubble:before {
  content: "\e018"; }

.icon-brightness-medium:before {
  content: "\e019"; }

.icon-play:before {
  content: "\e01a"; }

.icon-phone:before {
  content: "\e01b"; }

.icon-copy:before {
  content: "\e01c"; }

.icon-menu:before {
  content: "\e01e"; }

.icon-question:before {
  content: "\e01d"; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff"); }

html, body {
  background: #e2e2e2;
  font-family: "Open Sans", "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0; }

.floatholder {
  clear: both; }

header h1.logo, footer h3.logo {
  background: #6cfcb4;
  color: white;
  font-family: "Thirsty Script";
  margin: 0;
  padding: 1% 2%; }

.mainHead a {
  text-decoration: none; }

header div.open_mobile {
  display: none; }

footer {
  background: #6cfcb4;
  color: white;
  margin: 0;
  padding: 3% 2%; }

/**/
time {
  color: #969696;
  font-weight: bold;
  font-size: .8em; }

footer h3 {
  margin: 0; }

header nav {
  background: rgba(0, 0, 0, 0.2); }

header nav ul li {
  margin: 0;
  width: 50%;
  font-weight: bold;
  font-size: 1em;
  background: #888;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-left: 2em; }
  header nav ul li span {
    padding-right: 1em; }
  @media screen and (min-width: 640px) {
    header nav ul li {
      margin: 0;
      width: calc(100% / 4);
      font-weight: bold;
      font-size: 1em;
      background: #6cfcb4;
      float: left;
      border: 1px solid #58e8a0;
      padding: 10px;
      padding-left: 2em;
      -webkit-transition: background .5s; }
      header nav ul li:hover {
        background: #58e8a0; } }
  @media screen and (min-width: 1300px) {
    header nav ul li {
      width: calc(100% / 8); } }

nav ul a {
  color: #fff;
  text-decoration: none; }

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Mobile CSS */
@media screen and (max-width: 480px) {
  header div.mainHead {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  header h1.logo {
    float: left;
    font-size: 1.5em;
    height: 2.5rem;
    text-decoration: none;
    width: 90%; }

  header div.open_mobile {
    background: #6cfcb4;
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1.5em;
    height: 2.5rem;
    margin: 0;
    padding: 3% 2%;
    width: 10%; }

  header nav {
    -webkit-transition: all .5s;
    height: 0;
    overflow: hidden; }

  header nav.open {
    height: auto;
    max-height: 500px; } }
article.main {
  background: white;
  margin: 1% 0;
  padding: 2%;
  width: 100%; }

section.newest_post {
  background: white;
  margin: 1% 0;
  padding: 1% 2%; }

section.newest_post .firstcont {
  float: left;
  width: 50%; }

section.newest_post .secondcont {
  float: left;
  padding: 0 0 0 1%;
  width: 50%; }

section.newest_post .secondcont p {
  text-indent: 2em; }

aside.recent_videos {
  background: white;
  margin: 1%;
  padding: 1%; }

div.main_separator {
  background: #6ddbff;
  color: white;
  padding: 3% 2%; }

article.recent {
  background: white;
  margin: 1%;
  padding: 1%;
  min-height: 200px;
  max-height: 200px; }

@media screen and (min-width: 500px) {
  article.recent {
    width: 48%;
    float: left; } }
@media screen and (min-width: 1200px) {
  article.recent {
    width: 31%; } }
