@font-face {
    font-family: 'Thirsty Script';
    src: url('fonts/ThirstyScriptRegular-webfont.eot');
    src: url('fonts/ThirstyScriptRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ThirstyScriptRegular-webfont.woff') format('woff'),
         url('fonts/ThirstyScriptRegular-webfont.ttf') format('truetype'),
         url('fonts/ThirstyScriptRegular-webfont.svg#thirsty_script_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-safari, .icon-opera, .icon-IE, .icon-firefox, .icon-chrome, .icon-css3, .icon-html5, .icon-file-css, .icon-file-xml, .icon-pinterest, .icon-github, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-tablet, .icon-mobile, .icon-mobile-2, .icon-laptop, .icon-screen, .icon-clock, .icon-book, .icon-coin, .icon-books, .icon-file, .icon-bubble, .icon-brightness-medium, .icon-play, .icon-phone, .icon-copy, .icon-menu, .icon-question {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-safari:before {
  content: "\e000";
}
.icon-opera:before {
  content: "\e001";
}
.icon-IE:before {
  content: "\e002";
}
.icon-firefox:before {
  content: "\e003";
}
.icon-chrome:before {
  content: "\e004";
}
.icon-css3:before {
  content: "\e005";
}
.icon-html5:before {
  content: "\e006";
}
.icon-file-css:before {
  content: "\e007";
}
.icon-file-xml:before {
  content: "\e008";
}
.icon-pinterest:before {
  content: "\e009";
}
.icon-github:before {
  content: "\e00a";
}
.icon-google-plus:before {
  content: "\e00b";
}
.icon-facebook:before {
  content: "\e00c";
}
.icon-twitter:before {
  content: "\e00d";
}
.icon-tablet:before {
  content: "\e00e";
}
.icon-mobile:before {
  content: "\e00f";
}
.icon-mobile-2:before {
  content: "\e010";
}
.icon-laptop:before {
  content: "\e011";
}
.icon-screen:before {
  content: "\e012";
}
.icon-clock:before {
  content: "\e013";
}
.icon-book:before {
  content: "\e014";
}
.icon-coin:before {
  content: "\e015";
}
.icon-books:before {
  content: "\e016";
}
.icon-file:before {
  content: "\e017";
}
.icon-bubble:before {
  content: "\e018";
}
.icon-brightness-medium:before {
  content: "\e019";
}
.icon-play:before {
  content: "\e01a";
}
.icon-phone:before {
  content: "\e01b";
}
.icon-copy:before {
  content: "\e01c";
}
.icon-menu:before {
  content: "\e01e";
}
.icon-question:before {
  content: "\e01d";
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}