
header nav{
	background: rgba(0,0,0,.2);
}

header nav ul li {
	margin: 0;
	width:50%;
	font-weight: bold;
	font-size: 1em;
	background: #888;
	float:left;
	border: 1px solid rgba(0,0,0,.3);
	padding: 10px;
	padding-left: 2em;

	span{
		padding-right:1em;
	}

	@media screen and (min-width: 640px) {
		margin: 0;
		width: calc(100% / 4);
		font-weight: bold;
		font-size: 1em;
		background: rgb(108,252,180);
		float:left;
		border: 1px solid rgb(88,232,160);
		padding: 10px;
		padding-left: 2em;
		-webkit-transition: background .5s;

		&:hover {
			background: rgb(88,232,160);
		}
	}


	@media screen and (min-width: 1300px) {
		width: calc(100% / 8);
	}


}

nav ul a{
	color:#fff;
	text-decoration: none;
}

header nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Mobile CSS */

@media screen and (max-width: 480px){

	header div.mainHead{
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	header h1.logo {
		float:left;
		font-size: 1.5em;
		height: 2.5rem;
		text-decoration: none;
		width: 90%;
	}

	header div.open_mobile {
		background: rgb(108,252,180);
		color: white;
		cursor: pointer;
		display: block;
		float: left;
		font-size: 1.5em;
		height: 2.5rem;
		margin: 0;
		padding: 3% 2%;
		width: 10%;
	}

	header nav {
		-webkit-transition: all .5s;
		height: 0;
		overflow: hidden;
	}

	header nav.open{
		height: auto;
		max-height: 500px;
	}

	
}