section.newest_post {
	background: white;
	margin: 1% 0;
	padding: 1% 1% 3%;

	@media screen and (min-width: 500px) {
		float: left;
		min-height: 250px;
		margin: 1% 0 1% 1%;
		width: 77%;
	}
}

section.newest_post .firstcont {
	float: left;
	width: 75%;
}

section.newest_post .secondcont {
	float: left;
	padding:0 0 0 1%;
	width: 25%;
}

section.newest_post .secondcont p{
	text-indent: 2em;
}

aside.recent_videos {
	background: white;
	margin: 1%;
	padding: 1%;

	@media screen and (min-width: 500px) {
		float: left;
		height: 250px;
		width: 20%;
	}
}

div.main_separator {
	background: rgb(109,219,255);
	color: white;
	padding: 3% 2%;
}

article.recent {
	background: white;
	margin: 1%;
	padding: 1%;
	min-height: 200px;
	height: 200px;
	max-height: 200px;

	div {           
		overflow: hidden;
		width:100%;
		text-overflow: clip;
		// max-height: 1em;
	}
}

@media screen and (min-width: 500px) {
	article.recent {
		width: 48%;
		float:left;
	}
}

@media screen and (min-width: 1200px) {
	article.recent {
		width: 31%;
	}
}