---
layout: wrapper
---
	{% for post in site.posts limit:1%}
	<section class="newest_post">
		<div class="firstcont">
			<img src="holder.js/100%x300" alt="">
			<h2>Newest Post: {{ post.title }}</h2>
		</div>
		<div class="secondcont">
			<time datetime="2013-08-30">{{ post.date }}</time>
			<p>{{ post.preview }}</p>
		</div>
		<div class="floatholder"></div>
	</section>
	{% endfor %}
	<aside class="recent_videos">
		<h2>Recent Tutorials</h2>
	</aside>
	<div class="main_separator">Rescent Blog Posts:</div>

	{% for post in site.posts offset:1 limit:6 %}

		<article class="recent">
			<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>

			<time>{{ post.date | date_to_string }}</time>

			<p>{{ post.preview }}</p>
		</article>

	{% endfor %}

	<div class="floatholder"></div>