<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="css/style.css">
	<title>{{ page.title }}</title>
</head>
<body>
	<header>
		<div class="mainHead">
			<h1 class="logo">Sengert Web Design</h1>
			<div class="open_mobile icon-list"></div>
			<div class="floatholder"></div>
		</div>
		<nav>
			<ul>
				<li><a href="/blog.html">Blog</a></li>
				<li><a href="/about_me.html">About Me</a></li>
				<li><a href="">What I Do</a></li>
				<li><a href="">Portfolio</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Tutorials</a></li>
				<li><a href="">Articles</a></li>
				<li><a href="">Pricing</a></li>
			</ul>
			<div class="floatholder"></div>
		</nav>
	</header>
	{{ content }}
	<footer>
		<h3 class="logo">Sengert Web Design</h3>
	</footer>
	<script src="js/jquery-2.0.3.min.js"></script>
	<script src="js/holder.js"></script>
	<script src="js/site.js"></script>
</body>
</html>