<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<title>SengertWD - {{ page.title }}</title>
</head>
<body>
	<header>
		<div class="mainHead">
			<a href="/"><h1 class="logo">Sengert Web Design</h1></a>
			<div class="open_mobile icon-menu"></div>
			<div class="floatholder"></div>
		</div>
		<nav>
			<ul>
				<a href="/blog.html"><li><span class="icon-book"></span>Blog</li></a>
				<a href="/about_me.html"><li><span class="icon-file"></span>About Me</li></a>
				<a href="/what_i_do.html"><li><span class="icon-question"></span>What I Do</li></a>
				<a href="/contact.html"><li><span class="icon-phone"></span>Contact</li></a>
				<a href="/portfolio.html"><li><span class="icon-copy"></span>Portfolio</li></a>
				<a href="/tutorials.html"><li><span class="icon-play"></span>Tutorials</li></a>
				<a href="/articles.html"><li><span class="icon-books"></span>Articles</li></a>
				<a href="/pricing.html"><li><span class="icon-coin"></span>Pricing</li></a>
			</ul>
			<div class="floatholder"></div>
		</nav>
	</header>
	{{ content }}
	<footer>
		<h3 class="logo">Sengert Web Design</h3>
		<div class="social"></div>
	</footer>
	<script src="/js/jquery-2.0.3.min.js"></script>
	<script src="/js/holder.js"></script>
	<script src="/js/site.js"></script>
</body>
</html>